*.nc
*.pyc
*.ipynb_checkpoints/*
*EarthChem_all.csv
*andes_random_age.csv
*andes_real_age.csv
*convergence_data/
*err_log
python/log
python/out.csv
python/out.dbf
python/out.shp
python/out.shx
python/out_log
python/output.csv
python/output.dbf
python/output.shp
python/output.shx
python/pids.txt
python/pids_same.txt
python/trench_points.csv
step_1.ipynb
EarthChem_CU.csv
EarthChem_CU.dbf
EarthChem_CU.shp
EarthChem_CU.shx
coreg_output/
mrds.csv
mrds_copper.csv
mrds_copper.dbf
mrds_copper.shp
mrds_copper.shx
